body {
    background-color:red ;
}
H1 { color: rgb(219, 223, 7);
    font-size: large;
    text-decoration:underline;
    
}ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li a {
    display: block;
    width: 60px;
    background-color: #dddddd;
  }