body {background-color: burlywood;
    
}

.choicessection {
    display: flex;
    justify-content: center;

}
.choices {
    background:none;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 2rem;
}
.choices:hover {transform: scale(1.4);

}
.fa-hand-scissors:before {
    color: black;
    display: block;
    content: "\f257"; }
